@page
@model WebApp.Pages.TipoInquilino.GridModel
    @{ }
    <div class="container-fluid">

        <div class="card">
            <div class="card-header">
                Tipo Inquilino
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-12">
                        <table id="GridView" class="table table-bordered table table-striped table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Descripción</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tboby>
                                @foreach (var item in Model.GridList)
                                {
                    <tr>
                        <td>@item.Id_TipoInquilino</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Estado</td>
                        <td>
                            <a class="btn btn-primary" asp-page="Edit" asp-route-id="@item.Id_TipoInquilino"><i class='bx bx-edit-alt'></i></a>

                            <button type="button" class="btn btn-danger" onclick="TipoInquilinoGrid.OnClickEliminar(@item.Id_TipoInquilino)">
                                <i class='bx bx-trash'></i>
                            </button>
                        </td>
                    </tr>}
                            </tboby>
                        </table>

                    </div>
                </div>



            </div>
        </div>


    </div>

    @section Scripts{

        <script>
        var MensajeApp = "@Html.Raw(Model.Mensaje)";
        </script>

        <script defer src="~/App/TipoInquilino/Grid.js"></script>

    }
